*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body{
    height: 100vh;
}

nav{
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    overflow: hidden; 
}

nav ul li{
    float: right;
}

nav ul li:hover a{
    color: #42C920;
}

nav ul li a{
    text-decoration: none;
    color: black;
    margin: 30px;
    transition: all 0.3s ease-in-out;
}

.portada {
    height: 90vh;
    display: grid;
    place-items: center;
    /* background: radial-gradient(circle at 50% -20.71%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%); */
    background-image: url(../img/cyber3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
  
.texto {
    width: 19ch;
    animation: typing 2s steps(25), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 5vw;
    color: white;
}
  
@keyframes typing {
from {
    width: 0
}
}
    
@keyframes blink {
50% {
    border-color: transparent
}
}

.container1{
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    width: 75%;
    height: 75%;
    margin: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_texto h1{
    font-size: 65px;
    color: white;
}

.box_texto{
    width: 80%;
    height: 85%;
}

.container2{
    width: 100%;
    height: max-content;
    background: linear-gradient(to right, #21D4FD , #B721FF);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 30px;
}

.box2{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.about{
    font-size: 3rem;
    opacity: 0.3;
    width: 100%;
}

.box2 h1{
    color: white;
    font-size: 5rem;
    display: block;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.main_container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box3{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 50px;
    margin-top: 0;
    transition: all 800ms ease-in-out;
    overflow: hidden;
    position: relative;
}

.box3:hover{
    width: 30%;
    height: max-content;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 50px;
    margin-top: 0;
}

.box3 h1{
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.box3:hover h1{
    opacity: 0;
}

.box3 p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    font-size: 1.5rem;
    color: black;
  }
  
.box3:hover p{
    opacity: 1;
    transition-delay: 0.3s;
}

.container3{
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container4{
    width: 100%;
    height: max-content;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.why{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box6{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.box6 h1{
    font-size: 4rem;
    color: cyan;
    margin-bottom: 10px;
}

.box6 p{
    font-size: 2.5rem;
    opacity: 0.6;
}

.box7{
    width: 100%;
    height: 100%;
    background-image: url(../img/torre2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container5{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container6{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, cyan,  rgb(13, 210, 13));
    flex-wrap: wrap;
    padding: 30px;
}

.container6_box{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container6 p{
    width: 100%;
    font-size: 3rem;
    opacity: 0.3;
}

.skills{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    transition: all 300ms ease-in-out;
}

.skills h1{
    font-size: 3rem;
    color: deeppink;
}

.skills:hover{
    height: 80px;
    transition: ease-in-out 500ms;
    filter: invert();
    cursor: pointer;
    border: 3px solid black;
}

/* RESPONSIVE */

@media (max-width: 992px) {
    .box3:hover{
        width: 40%;
    }
}

@media (max-width: 576px) {
    .box3 p{
        font-size: 1rem;
    }

    .box3:hover{
        width: 60%;
    }

    .box6 p{
        font-size: 1.8rem;
    }
}

/* Codigo del footer */

footer{
    height: 300px;
    width: 100%;
    background-color: white;
}

.container7{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.parte2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.parte2 a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte2 div{
    margin: 10px;
}

.parte2 div:hover{
    cursor: pointer;
    filter: grayscale(0.5);
    transition: ease-in-out 500ms;
    width: 65%;
}

.Linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 60%;
    height: 10%;
    background-color: red;
    transition: all 500ms ease-in-out;
}

.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 60%;
    height: 10%;
    background-color: #21D4FD;
    transition: all 500ms ease-in-out;
}

.insta{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 60%;
    height: 10%;
    background-color: #B721FF;
    transition: all 500ms ease-in-out;
}

.github{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 60%;
    height: 10%;
    background-color: darkblue;
    transition: all 500ms ease-in-out;
}